/*整体布局 start*/
*{
	margin: 0;
	padding: 0;
}
body{
	color: #ffffff;
}
.appContainer{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
.header{
	flex:1;
	min-height: 60px;
	max-height: 60px;
	background-color: #195aa3;
	font-size: 16px;
}
.mainContainer{
	flex:9;
	display: flex;
}
.mainLeft{
	flex:2;
	background-color: #1f60a9;
	font-size: 14px;
	max-width: 260px;
}
.mainRight{
	flex:8;
    color: black;
    font-size: 14px;
    padding: 20px;
}
/*整体布局 end*/

/*app-header start*/
.header-nav li.active{
    color: #07fdfd;
}
.header-right{
	.el-input__inner{
		background: transparent;
		color: #ffffff;
		border: 1px solid transparent;
	}
	.el-select{
		.el-input.is-focus .el-input__inner{
			border-color: transparent;
		}
		.el-input__inner:focus {
		    border-color: transparent;
		}
		&:hover .el-input__inner {
		    border-color: transparent;
		}
	}
}
/*app-header end*/

/*left-menu start*/
.leftMenuContainer a{
    color: #ffffff;   
}
.first-nav-item{
	color: #ffffff;
}
.second-nav-group.active{
    background-color: rgba(64, 158, 255,.4);
    a{
	    color: #07fdfd;
	}
}
/*left-menu end*/